<app-banner-page title="{{'ACCESSIBILITY_SLIDE_TITLE' | translate}}" text="{{'ACCESSIBILITY_SLIDE_TEXT' | translate}}" image="back_legal" size="xs" align="start"/>

<!--Section: Privacidad -->
<section class="p-50 privacy">
    <div class="container">
        <div class="row">
          <div class="col-12">
            <div *ngIf="lang=='en'">
                <article id="300">
                    <div>
                        <p class="text-justify">Invesafe is committed to making its website usable by all people by meeting or exceeding the requirements of the Web Content Accessibility Guidelines 2.1 Level AA (WCAG 2.1 AA). Invesafe is currently conducting an accessibility review of its website and is remediating any issues identified during that review.</p>
                        <p class="text-justify">Please be aware that our efforts are ongoing as we incorporate the relevant improvements to meet WCAG 2.1 AA guidelines over time. If you are currently experience any issues with our website, have specific questions or concerns about the accessibility of this site or need assistance in using the processes found within this site, please call us at (561) 283 – 8800, contact us via chat in the lower right of this page, or email us at help@invesafe.com. If you do encounter an accessibility issue, please be sure to specify the Web page and we will make all reasonable efforts to make that page accessible.</p>
                    </div>
                  </article>
            </div>
            <div *ngIf="lang=='es'">
                <article id="300">
                    <div>
                        <p class="text-justify">Invesafe se compromete a hacer que su sitio web sea utilizable por todas las personas al cumplir o superar los requisitos de las Pautas de accesibilidad al contenido web 2.1 Nivel AA (WCAG 2.1 AA). Invesafe está realizando actualmente una revisión de accesibilidad de su sitio web y está remediando cualquier problema identificado durante esa revisión.</p>
                        <p class="text-justify">Tenga en cuenta que nuestros esfuerzos continúan a medida que incorporamos las mejoras relevantes para cumplir con las pautas WCAG 2.1 AA a lo largo del tiempo. Si actualmente experimenta algún problema con nuestro sitio web, tiene preguntas o inquietudes específicas sobre la accesibilidad de este sitio o necesita ayuda para usar los procesos que se encuentran dentro de este sitio, llámenos al (561) 283 – 8800, contáctenos a través del chat en abajo a la derecha de esta página, o envíenos un correo electrónico a help@invesafe.com. Si encuentra un problema de accesibilidad, asegúrese de especificar la página web y haremos todos los esfuerzos razonables para que esa página sea accesible.</p>
                    </div>
                  </article>                  
            </div>
          </div>
        </div>
    </div>
</section>
<!--Section: Privacidad -->