<!--/Loading-->
<div id="load_screen" class="transitionPage bg-buildings">
    <div class="spinner"></div>
    <div class="label">{{ 'LOADING_PAGE' | translate }}</div>
</div>
<!--/.Loading-->

<!--/Header-->
<header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">

            <!-- Brand and collapse menu -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                <!-- Collapse -->
                <button class="navbar-toggler pl-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </li>
                <li class="nav-item">
                <a class="navbar-brand" routerLink="/" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <img src="/assets/img/logoW.png" class="logo" />
                </a>
                </li>
            </ul>

            <!-- Right icons only on mobile -->
            <div class="d-block d-md-none">
                <app-right-icons></app-right-icons>
            </div>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- menu Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a class="nav-link" routerLink="/operative">{{ 'MENU_OPERATIVE' | translate }}</a>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a class="nav-link" routerLink="/projects">{{ 'MENU_PROJECTS' | translate }}</a>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a class="nav-link" routerLink="/developers">{{ 'MENU_DEVELOPERS' | translate }}</a>
                    </li>
                    <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="font-weight-bold lnkMoreInfo">+</span> <span>{{ 'MENU_MORE_INFO' | translate }}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" data-popper-placement="null" data-mdb-popper="none">
                            <li>
                            <a class="dropdown-item" routerLink="/about" routerLinkActive="active">{{ 'MENU_ABOUT' | translate }}</a>
                            </li>
                            <li>
                            <a class="dropdown-item" routerLink="/contact" routerLinkActive="active">{{ 'MENU_CONTACT' | translate }}</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                            <a class="dropdown-item" href="https://help.invesafe.com/{{lang}}" target="_blank">{{ 'MENU_HELP' | translate }}</a>
                            </li>
                            <li>
                            <a class="dropdown-item" href="https://blog.invesafe.com/{{lang}}" target="_blank">{{ 'MENU_BLOG' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" [hidden]="userInfo.isLogin || !canInvest">
                        <a href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="clickSignUp()" class="nav-link waves-effect text-info">
                        <span>{{ 'MNU_SIGN_UP' | translate }}</span>
                        </a>
                    </li>
                </ul>

                <!-- Right icons only on desktop -->
                <div class="d-none d-md-block navbar-right">
                    <app-right-icons></app-right-icons>
                </div>

            </div>

        </div>
    </nav>
    <!--/.Navbar-->
    </header>
    <!--/.Header-->

    <!--Main layout-->
    <router-outlet></router-outlet>
    <!--/Main layout-->

    <!--Footer-->
    <footer class="page-footer font-small wow fadeIn">

    <!-- Social icons -->
    <div class="container pt-5 pb-4 text-light">
        <div class="row">
            <div class="col-12 col-md-3">
                <a href="/"><img alt="Invesafe" src="/assets/img/logoW.png" class="logo mb-1"></a>
                <p class="text-muted">
                    United States<br>
                </p>
                <ul class="list-inline">
                    <li class="list-inline-item"> <a href="https://www.facebook.com/invesafe/"><i class="fab fa-facebook-f mr-2"></i></a> </li>
                    <li class="list-inline-item"> <a href="https://www.linkedin.com/company/invesafe"><i class="fab fa-linkedin mr-2"></i></a> </li>
                    <li class="list-inline-item"> <a href="https://twitter.com/Invesafe"><i class="fab fa-twitter mr-2"></i></a> </li>
                    <li class="list-inline-item"> <a href="https://instagram.com/Invesafe.us"><i class="fab fa-instagram mr-2"></i></a> </li>
                </ul>
            </div>
            <div class="col-12 col-md-9">
                <div class="h5 mb-2 logo-cnv">{{ 'FOOTER_TITLE' | translate }}</div>
                <div class="row no-gutters">
                    <div class="col-6 col-lg-3">
                        <h6>{{ 'FOTTER_SECTION1' | translate }}</h6>
                        <ul class="list-unstyled">
                            <li> <a routerLink="/about">{{ 'MENU_ABOUT' | translate }}</a> </li>
                            <li> <a routerLink="/contact">{{ 'MENU_CONTACT' | translate }}</a> </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3">
                        <h6>{{ 'FOTTER_SECTION2' | translate }}</h6>
                        <ul class="list-unstyled">
                            <li> <a routerLink="/developers">{{ 'MENU_DEVELOPERS' | translate }}</a> </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3">
                        <h6>{{ 'FOTTER_SECTION3' | translate }}</h6>
                        <ul class="list-unstyled">
                            <li> <a routerLink="/operative">{{ 'MENU_OPERATIVE' | translate }}</a> </li>
                            <li> <a routerLink="/project">{{ 'MENU_PROJECTS' | translate }}</a> </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3">
                        <h6>{{ 'FOTTER_SECTION4' | translate }}</h6>
                        <ul class="list-unstyled">
                            <li> <a href="https://blog.invesafe.com/{{lang}}" target="_blank">{{ 'MENU_BLOG' | translate }}</a> </li>
                            <li> <a href="https://help.invesafe.com/{{lang}}" target="_blank">{{ 'MENU_HELP' | translate }}</a> </li>
                            <li> <a routerLink="/changelog">{{ 'MENU_CHANGE_CONTROL' | translate }}</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Social icons -->
    <!--Copyright-->
    <div class="footer-copyright p-3">
        <div class="container">
        <p class="opacity-70" [innerHtml]="'FOTTER_LEGAL1' | translate"></p>
        <p class="opacity-70" [innerHtml]="'FOTTER_LEGAL2' | translate"></p>
        <p class="text-center mb-0">
            © 2018 <a href="/">Invesafe</a> LLC <span>{{ 'FOOTER_COPY' | translate }}</span> - <a href="https://incloux.com" target="_blank" rel="noopener"><img id="incloux" src="https://incloux.com/img/iconIncloux25.png" alt="Incloux"></a>
        </p>
        </div>
    </div>
    <!--/.Copyright-->
    </footer>
    <!--/.Footer-->