nav.flex-md-column .nav-link.active {
    color: #4582EC; }
  
nav.flex-md-column .nav-link {
    padding: .25rem 0;
    color: #495057;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease; }

nav.flex-md-column .nav-link:not(.active):hover {
    opacity: .5; }